<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이템 상세페이지</title>
</head>
<body>
<h2>상세페이지</h2>
<div id="container">
    <div>
        <p> 이름 :  <%= name %></p>
        <p> 가격 :  <%= price %></p>

    </div>
</div>

<script src="/vue/dist/vue.min.js"></script>
<script src="/common/common.js"></script>

<script>

    (function () {


        let app = new Vue({
            el: '#container', //셀렉터
            data: { //데이터 바인딩
                id : ""
            },
            created : function(){},
            mounted : function(){
            },
            watch : { // 프로퍼티 변경시 감지
            },
            methods : {

            }
        });
    })();

</script>
</body>
</html>
