<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
    <h2>회원가입</h2>
    <div>
        <form>
            <p>이름 : <input type="text" id="name" required></p>
            <p>이메일 : <input type="email" id="email" required></p>
            <p>비밀번호 : <input type="password" id="pw" required></p>
            <p> <input type="submit" value="회원가입"> </p>
        </form>
    </div>
</body>
</html>